.healthcare-section {
    background:$white;

    .healthcare-image {
        height:auto;
        transform: translateX(-40px);
        margin-left: -45px;

    }

    .healthcare-image img {
        
        width: 100%;
        height: 350px;
        object-fit: cover;
        
    }

    .healthcare-title {
        font-size: 1.7rem;
        line-height: 1.3;
        color:$black;
        max-width: 520px;
    }
}

.healthcare-badge {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    width: fit-content;
    padding: 6px 14px;

    background: $primary-light;
    border-radius: 50px;

    color: $primary;
    font-size: 14px;
    font-weight: 500;
}

.star-icon {
    width: 16px;
    height: 16px;
}


.star-icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.counter-row {
    margin-left: -20px;
}

.counter-left {
    transform: translateX(-50px);
}

/* Tablet */
@media (max-width: 991.98px) {

    .healthcare-section {

        .healthcare-title {
            font-size: 1.125rem;
            text-align: center;
            max-width: 100%;
        }

        .healthcare-content {
            text-align: center;
            margin-left: 0px;
        }

        .badge {
            
            margin: 0 auto 24px;
        }
        .healthcare-image {
            margin-left: 0;
            transform: none;
        }


        .healthcare-image img {
            
            width: 100%;
            height: auto;
            min-height: auto;
            object-fit: cover;
            border-radius: 16px;

        }
    }
}

.counter-number {
    font-size: 2.5rem; // 40px
}

/* Mobile */
@media (max-width: 575.98px) {

    .healthcare-section {

        .healthcare-title {
            font-size: 1.35rem;
            line-height: 1.5;
        }

        h2.display-5 {
            font-size: 2rem;
        }

        .badge {
            font-size: .75rem;
        }

        .healthcare-image img {
            border-radius: 16px;
        }
    }
}